{% extends "layout.html" %}
{% block heading %}
{% endblock %}
{% block body %}
<div class="row">
    <div class="container col-md-9">
        <h4 id="msg" class="col"></h4>
        <div>
            <textarea class="form-control" rows="25" id="txtChatWindow" name="txtChatWindow"
                      readonly>{{chatText}}</textarea>
            <p></p>
            <input class="form-control" id="txtMsg" name="txtMsg" placeholder="type your message here" required>
            <p></p>
            <div class="clearfix">
                <button id="btnSendMsg" class="btn btn-dark float-right" type="submit">Send Message</button>
            </div>
            <p></p>
        </div>
    </div>
    <div id="serverChatObj" data-chatrooms='{{ chatroomsJson }}'></div>
    <div class="container col-md-3">
        <div id="frmChatName" class="md-3">
           <input id="username" class="col" name="username" placeholder="Your Name" required>
            <button id="btnUsername" class="btn btn-dark col" type="button">Enter</button>
        </div>
        <button id="btnChangeUsername" class="form-control col btn btn-dark " type="button">Update Username</button>
       <div>
            <input type="text" class="form-control" id="txtChatroomName" name="txtChatroomName" placeholder="Chatroom Name" required>
            <button id="btnCreateChatroom" class="btn btn-dark col" type="submit">New Chatroom</button>
       </div>
        <p></p>
        <label class="chat-room">Existing Chatrooms</label>
        <div class="list-group" id="lstChatroom"></div>
    </div>
</div>
{% endblock %}
