{% extends "layout.html" %}

{% block body %}
    <form id="frmChatName" class="form-control col-md-4 col-md-offset-4">
        <div class="input-group mb-3">
            <label class="sr-only" >Enter your chatroom name:</label>
            <input class="form-control" id="chatUserName" name="chatUserName" placeholder="Chatroom Name" required>
            <div class="input-group-append">
                <button class="btn btn-dark" type="button">Enter</button>
            </div>
        </div>
    </form>
    <p id="msg"></p>
     <div class=" form-control mb-3">
            <textarea class="form-control" id="txtChatWindow" name="txtChatWindow"></textarea>
            <input class="form-control" id="txtMsg" name="txtMsg" placeholder="type your message here" required>
            <div class="input-group-append">
                <button id="btnSendMsg" class="btn btn-dark" >Send Message</button>
            </div>
        </div>
{% endblock %}
