<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>chatroom</title>
      <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="{{url_for('static', filename='script.js')}}"></script>
<h1 class="text-center">CHAT ROOM</h1>
 </head>
 <body>
 <h1>{% block heading %}
     {% endblock %} </h1>
 {% block body %}
 {% endblock %}
     {% if message is not none %}
         <p class="alert alert-success" role="alert"> {{message}}  </p>
    {% endif %}
    {% if error is not none %}
         <p class="alert alert-danger" role="alert"> {{error}}  </p>
    {% endif %}
 </body>
</html>
