{% extends "layout.html" %}

{% block heading %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/signin.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <p class="text-center">Welcome to Bookdump !!</p>
    <form action="{{url_for('login')}}" class="form-signin col-sm-4" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label class="sr-only" for="user_email">Email address</label>
        <input autofocus class="form-control" id="user_email" name="user_email" placeholder="Email address" required
               type="email">
        <label class="sr-only" for="user_pwd">Password</label>
        <input class="form-control" id="user_pwd" name="user_pwd" placeholder="Password" required type="password">
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
        <a class="" href="register">Register here </a>
    </form>
</div>
{% endblock %}
